<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Town Crier!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" type="text/css" href="./style.css" /> --}}
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/socket.io/socket.io.js"></script>
  {{!-- <script src="js/main.js"></script> --}}
  <!-- Link to jquery to allow for us -->
  <link src="https://code.jquery.com/jquery-3.5.1.min.js"></link>
  
</html>