<body>
    <div class="jumbotron d-flex flex-column">
        <h1 class="display-4 mx-auto">Welcome to Town Crier!</h1>
        {{!-- <img src="../static/town-crier-OFFICIAL-LOGO.png" alt="" class="img-fluid mx-auto"> --}}
    </div>

    <section id="Forgot" class="">
        <div class="container rounded border border-dark w-25 p-2">
            <div class="welcome-banner d-flex flex-column mt-3">
                <h2 class="welcome mx-auto text-center">You forgot your password?</h2>
                <h5 class="please mx-auto text-center">Please don't do it again...</h5>
            </div>
            <div class="input-group mb-3 mt-3 d-flex flex-column">
                <input id="usersignup" type="text" class="form-control rounded w-100 mb-3" placeholder="Email"
                    aria-label="Recipient's Email" aria-describedby="basic-addon2">
                <button type="button" class="btn btn-primary w-50 mx-auto">Send Email</Inp></button>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <button onclick="location.href='./login'" class="btn btn-light border border-black rounded"><strong>I have an account</strong></button>
                <button onclick="location.href='./sign-up'" class="btn btn-light border border-black rounded"><strong>Join Town Crier</strong></button>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Link to moment api -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src='../public/js/index.js'></script>
</body>