<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<body>
    <div class="container">
        <div class="row border">
            <h1 class="col">Town Crier</h1>
            <div id="logo" class="col">logo</div>
            <div id="navbar" class="col">navbar</div>
        </div>
        <hero class="row border">HERO</hero>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <button type="button border" class="btn btn-primary">Create New Post</button>
            </div>
            <div id="post-conatainer" class="col-9 border">Post Container</div>
        </div>
    </div>
</body>