<body class="bg-info">
    <div class="jumbotron d-flex flex-column my-0">
        <h1 class="display-4 mx-auto my-0">Welcome to Town Crier!</h1>
        <h3 id="location" class="display-6 mx-auto my-2">CITY, STATE</h3>
        {{!-- <img src="../public/assets/town-crier-OFFICIAL-LOGO.png" class="rounded"
            alt="Man yelling into megaphone."> --}}
        {{!-- <div id="navbar" class="col">navbar</div> --}}
    </div>

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" href="#" type="button">Create New Post</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <div class="nav-item active">
                    <a class="nav-link" href="/homepage" type="button">Home</a>
                </div>
            </div>

        </div>
        </div>
    </nav>


    <section class="container-fluid mb-5">
        <div class="row d-flex flex-column">
            <div class="d-flex mx-auto flex-column justify-content-around w-75">

            <div class="d-flex flex-row mx-auto p-2 border border-dark w-75 rounded justify-content-between">
                <div id="post-title" class="font-weight-bold">{{post_title}}</div>
                <div id="post-date" class="font-weight-bold">{{created_at}}</div>
            </div>
            <div id="post-cont" class="d-flex flex-row mx-auto mt-2 p-2 border border-dark w-75 rounded">
                <div id="post-body" class="text-monospace">{{post_text}}</div>
            </div>
            <div id="comment-container" class="d-flex flex-column mx-auto mt-2 p-2 border border-dark rounded w-75">
                {{#each comment as |comment|}}
                <div class="comment my-2">{{comment_text}}</div>
                {{/each}}
                
        </div>
    </section>


    <script src='/js/landing.js'></script>
</body>