<body class="">
    <div class="jumbotron d-flex flex-column">
        <h1 class="display-4 mx-auto">Welcome to Town Crier!</h1>
        <img src="./Assets/town-crier-OFFICIAL-LOGO.png" alt="" class="img-fluid mx-auto">
    </div>
    
    <section id="Sign-In" class="">
        <div class="container rounded border border-dark w-50">
            <div class="welcome-banner d-flex flex-column mt-3">
                <h2 class="welcome mx-auto">Welcome!</h2>
                <h5 id="randfact" class="fact mx-auto">Random Fact Here!</h5>
            </div>
            <form id="login-form" class="input-group mb-3 d-flex flex-column">
                <input id="username" type="text" class="form-control rounded border border-dark w-75 mb-3 mt-3 mx-auto" placeholder="User Name"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <input id="password" type="text" class="form-control rounded border border-dark w-75 mb-3 mx-auto" placeholder="Password"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <input id="signinbtn" type="submit" class="btn btn-primary w-25 mx-auto" placeholder="Log In"></Input>
            </form>
            <div class="d-flex flex-row mb-2 justify-content-between">
                <button onclick="location.href='./forgot-password'" id="forgot-password" class="btn btn-light border border-black rounded "><strong>Forgot Username or Password</strong></button>
                <button onclick="location.href='./sign-up'" class="btn btn-light border border-black rounded"><strong>Join Town Crier</strong></button>
            </div>
        </div>
    </section>

    {{!-- <div>
        <form id="message-box">
            <input
            id="msg"
            type="text"
            placeholder="TEST"
            />
        </form>
    </div> --}}

    <!-- Link to jquery to allow for us -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Link to moment api -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src='./js/login.js'></script>
</body>


